
.Registration-form{
   
    width:320px;
	
    padding: 50px 50px;
    text-align: center;
    background:rgba(101,102,114,0.7) ;
    
   
   
    overflow: hidden;
    border-radius: 05px;
    
    

}
.Registration-form img{
    width:50%;
    height: 50%;
}

.Registration-form input{
    display: block;
    width: 100%;
    padding-left:10px ;
    height: 44px;
    box-sizing: border-box;
    outline: none;
    border:none;
    font-family: sans-serif;
    font-size: 14px;

}
.txt{
    margin:20px 0px;
    border-radius: 05px;

}
.btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background:#487eb0 ;
    color:#fff;
    border-radius: 40px;
    cursor:pointer;
    transition: 0.8s;

}
.btn:hover{
    transform: scale(0.96);
}
.Registration-form a{
    text-decoration: none;
    color:#000;
    font-family: sans-serif;
    padding: 0.8s;
    display: block;

}
.Registration-form a:hover{
    background:rgba(0,0,0,0.3) ;
    color:#fff;
}
.label{
    color:#fff;
}

