/*Background*/
body{
	background-color: #DBFFF3;
	background-size: 1920px 1080px;
}

/*header*/
.header {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: #79BEA8;
	color: white;
	height:200px;
}

/*logo*/
.im{
	float:left;
}

/*Title*/
#h{
	padding-right:50px;
	color:#093426;
	font-family:Courier New;
}

/*navigation bar*/
ul.N{
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#093426;
	overflow:hidden;
}

li.n{
	float: left;
}

li a:hover{
	background-color:silver;
	color:black;
}

/*search bar*/
#s{
	padding: 12px 16px;
	margin-right: 16px;
	float:right;
}

.i{
	float:right;
	height:44px;
	padding-top:5px;
}

img.i{
  border-right: 1px solid black;
}

.N input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 18px;
	font-size: 17px;
}

/*footer*/
.footer {
	padding: 20px;
	height:150px;
	background: #093426;
}

a{
	color:white;
	text-decoration:none;
}
 
a:hover {
	color:#448D76;
}

a:active {
	color: green;
}

/*footer list*/
.f{
	float:left;
	color:white;
	text-decoration:none;
}

li a{
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
	
}

/*social media icon*/
.fb{
	float:right;
	width: 2%;
	padding:4px;
	
}
.fb:hover{
	opacity: 0.7;
}

.tw{
	float:right;
	width: 2%;
	padding:4px;
}
.tw:hover{
	opacity: 0.7;
}

.wp{
	float:right;
	width: 2%;
	padding:4px;
}
.wp:hover{
	opacity: 0.7;
}

.gm{
	float:right;
	width: 2%;
	padding:4px;
}
.gm:hover{
	opacity: 0.7;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  
}








form{
	width:500px;
	margin:auto;
	padding:20px;
	background: #2F4F4F;
	color:white;
	font-size:14px;
	font-family:Verdana;
	
}

#Account{
	float:right;
}