.loginBox{
	width:320px;
	height:430px;
	background:#79BEA8;
	color:#fff;
	box-sizing:border-box;
	padding:50px 50px;
    
}
h2{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
   
}
.loginBox2{
	width:320px;
	height:270px;
	background:#79BEA8;
	color:#fff;
	box-sizing:border-box;
	padding:50px 50px;
   float: right;
   margin-right: 200px;
   margin-top: -400px;

}
.loginBox3{
	width:320px;
	height:270px;
	background:#79BEA8;
	color:#fff;
	box-sizing:border-box;
	padding:50px 50px;
    margin-right: 600px;
	float: right;
    margin-top: -400px;

}
